---
const links = [
  {
    label: 'home',
    to: '/'
  },
  {
    label: 'blog',
    to: '/blog/'
  },
];

const currentPath = Astro.url.pathname;
---

<header class="bg-gray-800 border-b-2 border-purple-500 flex flex-row justify-between items-center p-1 px-2 h-10 fixed top-0 left-0 right-0">
  <nav class="flex gap-1">
    {links.map((link, idx) => (
      <a
        href={link.to}
        class=`my-1 px-1 ${currentPath === link.to ? 'bg-purple-500 font-bold' : 'bg-gray-400'}`
      >
        {idx}: {link.label}{currentPath === link.to && '*'}
      </a>
    ))}
  </nav>
  <img src="/logo.png" alt="cristiansantos.com" class="h-6 w-6">
</header>

<style>
  :root {
    --header-height: 2.5em;
  }
</style>
