---
interface Props {
  used?: boolean
}

const { used } = Astro.props;

---
<div class="flex flex-row gap-2">
  <span class={used ? "text-gray-600" : "text-purple-400"}>cristian@portfolio</span>
  <span class={used ? "text-gray-600" : "text-gray-400"}>:</span>
  <span class={used ? "text-gray-600" : "text-blue-400"}>~</span>
  <span class={used ? "text-gray-600" : "text-gray-400"}>$</span>
  <input
    type="text"
    autofocus={!used}
    disabled={used}
    class={`text-green-400 width-full outline-none`}
  />
</div>
